@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

.App{
  background-color: #f3f2f1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: black;
  font-family: sans-serif;
  /* background-image: url("images/background.gif");
  background-size: contain; */
}

.App-welcome {
  display:flex;
  justify-content: center;
}

#aboutme {
  font-size: large;
  margin: 0px 25% 0px 25%;
}

#name {
  /* font-family: 'Source Code Pro', monospace; */
  font-family: 'Press Start 2P', cursive;
  border-right: solid 3px rgba(0, 0, 0, 0.75);
  white-space: nowrap;
  overflow: hidden;
}

#profile {
  border-radius: 50%;
  margin-top: 40px;
  margin-bottom:20px;
  height: 150px;
  width: auto;
}

/* Animations */

.App-welcome, #aboutme{
  opacity: 0;
  animation: fadeInAnimation 1.5s ease 0s 1 forwards;
}

#name {
  animation: animated-text 1.25s linear 1s 1 normal both,
             animated-cursor 1s steps(29,end) infinite;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* text animation */
@keyframes animated-text{
  from{width: 0;}
  to{width: 11.5em;}
}

/* cursor animations */
@keyframes animated-cursor{
  from{border-right-color: rgba(0, 0, 0, 0.75);}
  to{border-right-color: transparent;}
}