@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');

.App{
  min-height: 100vh;
  display: flex;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: black;
  font-family: sans-serif;
  background-image: url("images/stairs.jpg");
  background-size: 100vw 100vh;
}

.App-welcome {
  display:flex;
  justify-content: center;
}

#aboutme {
  font-size: medium;
}

.card {
  margin: 10px;
  padding: 10px;
  background-color: rgba(245,245,245,.5);
  text-align: left; 
  display: inline-block;
}

/* div {
  border: solid 1px;
} */

.icon {
  margin: 10px;
  cursor:pointer;
  outline:none;
}

#name {
  font-family: 'Alfa Slab One', cursive;
  border-right: solid 3px rgba(0, 0, 0, 0.75);
  white-space: nowrap;
  overflow: hidden;
}

#profile {
  border-radius: 50%;
  margin-bottom:20px;
  height: 180px;
  width: auto;
}

#projects {
  width: 70%;
  font-size: medium;
  padding: 5vh 2vw 0vh 2vw;
}

.project-descriptions {
  width: 85%;
  margin-left: 20px;
  float: left;
}

.project-icons {
  width: 6vw;
  margin-top: 2vh;
  float: left;
  text-align: center;
}


#side-bar {
  margin: 10vh 15% 0px 5%;
  width: 20%;
}

/* Media */

@media screen and (max-width: 1250px) {
  #side-bar {
    margin: 0px 0px 0px 0px;
    padding: 10px;
    width: 100%;
  }
  #projects {
    margin-top: 0px;
    width: 100%;
  }
  .App {
    display: block;
    background-size: 100% 100%;
  }
  .project-icons {
    width: 14.7vw;
    margin-top: 6vh;
  }
  .project-descriptions {
    width: 75%;
    margin-left: 4vw;
  }
  /* .card {
    text-align: right;
  } */
}

/* Animations */

#side-bar, #projects{
  opacity: 0;
  animation: fadeInAnimation 1.5s ease 0s 1 forwards;
}

#name {
  animation: animated-text 1.25s linear 1s 1 normal both,
             animated-cursor 1s steps(29,end) infinite;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* text animation */
@keyframes animated-text{
  from{width: 0;}
  to{width: 6.7em;}
}

/* cursor animations */
@keyframes animated-cursor{
  from{border-right-color: rgba(0, 0, 0, 0.75);}
  to{border-right-color: transparent;}
}